body{
    position: absolute; margin-top: 10px; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;
    background-color: ivory;
}

table{
    position: relative;
    margin-left: 100px;


}
    